.container {
  position: relative;
}

.img {
  width: auto;
  height: 80dvh;
}

.magnifier {
  position: absolute;
  pointer-events: none;
  opacity: 1;
  border: 1px solid lightgray;
  background-color: white;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
